<%= render "header" %>
<%= link_to "Back", :back, class: "mb-4" %>

<section class="flex justify-center flex-col items-center">
  <h1>Edit task</h1>

  <%= render "form", task: @task %>

  <br>
</section>

