@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.completed-task {
  background-color: #10B981;
  border-color: #10B981;
  color: #fff;
}
